<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="QLTienGuiConnection"
             connectionString="Data Source=NGUYENVOTHANHSO\THANHSON1;Initial Catalog=QuanLyTienGui;Integrated Security=True;MultipleActiveResultSets=True;TrustServerCertificate=True"
             providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>